* {
  all: unset;
  font-size: 1.3rem;
  color: #333;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match.activatable {
  border-radius: 8px;
  padding: 0.3rem 0.9rem;
  margin-top: 0.01rem;
}
#match.activatable:first-child {
  margin-top: 0.7rem;
}
#match.activatable:last-child {
  margin-bottom: 0.6rem;
}

#plugin:hover #match.activatable {
  border-radius: 8px;
  padding: 0.3rem;
  margin-top: 0.01rem;
  margin-bottom: 0;
}

#match:selected,
#match:hover,
#plugin:hover {
  background: #ded1d1;
}

#entry {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
}

list > #plugin {
  border-radius: 8px;
  margin: 0 0.3rem;
}
list > #plugin:first-child {
  margin-top: 0.3rem;
}
list > #plugin:last-child {
  margin-bottom: 0.3rem;
}
list > #plugin:hover {
  padding: 0.6rem;
}

box#main {
  background: #eeeeee;
  box-shadow: #000 0 0 32px;
  border-radius: 12px;
  padding: 0.3rem;
}
