[user]
    name = OJII3
    email = 84656786+OJII3@users.noreply.github.com
    signingkey = 37547FAD690A6133
[core]
    autocrlf = true
    excludesfile = C:/Users/ojii3/.gitignore_global
[gpg]
    program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[pull]
    rebase = false
[push]
    autoSetupRemote = true
