[user]
    name = OJII3
    email = 84656786+OJII3@users.noreply.github.com
    signingkey = ~/.ssh/id_ed25519.pub
[core]
    autocrlf = true
    excludesfile = C:/Users/ojii3/.gitignore_global
[commit]
    gpgsign = true
[gpg]
    format = "ssh"
[init]
    defaultBranch = main
[pull]
    rebase = false
[push]
    autoSetupRemote = true
[ghq]
    root = ~/src
